___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [46]:
import pandas as pd

Вивести версію та конфігурацію бібліотеки:

In [47]:
pd.__version__

'1.3.2'

In [48]:
df = pd.read_csv(r'C:\Users\Magnolia\Desktop\Main Academy\Lab work 5.2\Ecommerce Purchases.csv')
df.head()
#df.info()
#df.describe()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

Скільки рядків і стовпців в наборі даних:

In [27]:
#df.shape
print('Количество строк:',len(df.index))
print('Количество колонок:',len(df.columns))

Количество строк: 10000
Количество колонок: 14

Перевірити, чи в наборі даних містяться порожні значення:

In [36]:
df.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

Яка середня ціна закупки (Purchase Price):

In [21]:
df['Purchase Price'].mean()

50.347302

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [37]:
print('Кількість людей, яка використовує англійську мова на веб-сайті: ', df.loc[df['Language'] == 'en']['Language'].count())

Кількість людей, яка використовує англійську мова на веб-сайті:  1098

Скільки людей має посаду «Lawyer»?

In [39]:
print ('Кількість людей, які займають посаду юриста: ', df.loc[df['Job'] == 'Lawyer']['Job'].count())

Кількість людей, які займають посаду юриста:  30

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [41]:
print ('Кількість покупок вранці: ', df.loc[df['AM or PM'] == 'AM']['AM or PM'].count())
print ('Кількість покупок після обіду: ', df.loc[df['AM or PM'] == 'PM']['AM or PM'].count())

Кількість покупок вранці:  4932
Кількість покупок після обіду:  5068

Які 5 найпоширеніших назв вакансій?

In [74]:
df['Job'].value_counts()[0:5]

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [52]:
lot = '90 WT'
df[df['Lot'] == lot]['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [56]:
card = 4926535242672853 
df[df['Credit Card'] == card]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [65]:
print ('Кількість людей, яка використовує American Express та здійснили покупку на суму понад 100 доларів: ', 
       df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 100)]['Purchase Price'].count())

print ('Кількість людей, яка використовує American Express та здійснили покупку на суму меньше 100 доларів: ', 
       df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] < 100)]['Purchase Price'].count())
print ('Максимальна ціна покупки при оплаті American Express: ', 
       df[df['CC Provider'] == 'American Express']['Purchase Price'].max())

Кількість людей, яка використовує American Express та здійснили покупку на суму понад 100 доларів:  0
Кількість людей, яка використовує American Express та здійснили покупку на суму меньше 100 доларів:  849
Максимальна ціна покупки при оплаті American Express:  99.97

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [156]:
#card = df['CC Exp Date'].str.split('/',expand=True)
#[(card[1] == 25)][card].value_counts()

count = 0
for i in range(0, len(df)):
    if int(df.iloc[i]['CC Exp Date'][3:5]) == 25:
        count += 1
print('Количество карт, которые заканчиваются в 2025 году:', count)

Количество карт, которые заканчиваются в 2025 году: 1033

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [77]:
email = df['Email'].str.split('@',expand=True)
email[1].value_counts()[0:5]

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: 1, dtype: int64

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [109]:
#pd.pivot_table(df, index=['Job', 'Browser Info' ], values = ['Purchase Price'], aggfunc = len)

df.groupby(['Browser Info', 'Job'])['Purchase Price'].count()

Browser Info                                                                                                                         Job
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 rv:2.0; sl-SI) AppleWebKit/533.25.6 (KHTML, like Gecko) Version/4.0 Safari/533.25.6    Psychotherapist, dance movement          1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 rv:4.0; en-US) AppleWebKit/535.34.7 (KHTML, like Gecko) Version/5.0 Safari/535.34.7    Retail merchandiser                      1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 rv:5.0; sl-SI) AppleWebKit/532.10.4 (KHTML, like Gecko) Version/5.0.2 Safari/532.10.4  Firefighter                              1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 rv:6.0; en-US) AppleWebKit/533.45.4 (KHTML, like Gecko) Version/4.1 Safari/533.45.4    Broadcast presenter                      1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0) AppleWebKit/5321 (KHTML, like Gecko) Chrome/14.0.824.0 Safari/5321                    Development worker, international aid    1
                                                                                                                                                                             ..
Opera/9.99.(X11; Linux i686; sl-SI) Presto/2.9.186 Version/12.00                                                                     Company secretary                        1
Opera/9.99.(X11; Linux x86_64; en-US) Presto/2.9.172 Version/12.00                                                                   Dramatherapist                           1
Opera/9.99.(X11; Linux x86_64; en-US) Presto/2.9.176 Version/10.00                                                                   Private music teacher                    1
Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2.9.164 Version/10.00                                                                   Hotel manager                            1
Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2.9.190 Version/11.00                                                                   Scientist, forensic                      1
Name: Purchase Price, Length: 9989, dtype: int64

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [115]:
def actual_price(row):
    if row['Purchase Price'] > 100:
        val = row['Purchase Price'] * 1.2
    elif 50 < row['Purchase Price'] <= 100:
        val = row['Purchase Price'] * 1.1
    else:
        val = row['Purchase Price'] * 1.3
    return val

df['Actual price'] = df.apply(actual_price, axis=1)
df.loc[:, ['Purchase Price', 'Actual price']]

      Purchase Price  Actual price
0              98.14       107.954
1              70.73        77.803
2               0.95         1.235
3              78.04        85.844
4              77.82        85.602
...              ...           ...
9995           82.21        90.431
9996           25.63        33.319
9997           83.98        92.378
9998           38.84        50.492
9999           67.59        74.349

[10000 rows x 2 columns]

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [119]:
df['Language_rank'] = df['Language'].rank(ascending=False)
df['Actual price_rank'] = df['Actual price'].rank(ascending=False)
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual price,Language_rank,Actual price_rank
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,107.954,8277.0,191.0
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,77.803,4967.0,2988.5
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,1.235,9423.0,9894.5
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,85.844,6063.0,2256.0
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,85.602,6063.0,2279.5

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [121]:
code = pd.get_dummies(df['Language'])
df = pd.concat([df, code], axis = 1)
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,...,Actual price_rank,de,el,en,es,fr,it,pt,ru,zh
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,...,191.0,0,1,0,0,0,0,0,0,0
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,...,2988.5,0,0,0,0,1,0,0,0,0
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,...,9894.5,1,0,0,0,0,0,0,0,0
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,...,2256.0,0,0,0,1,0,0,0,0,0
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,...,2279.5,0,0,0,1,0,0,0,0,0

Кінцевий набір даних збережіть у файл з розширенням csv.

In [122]:
df.to_csv("Ecommerce Purchases(hw).csv")